
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div id="about"></div>
        <div class="detail start">
            <%if($new){%>
                <a href='<%= $new.image%>'><img src='<%=$new.image%>' alt="blog image"/></a>
                <div class="content">
                    <div class="author">Author: 
                        <div class="info"><a href='<%%= $new.authorImage>'><img src='<%=$new.authorImage%>' alt='.'/></a> <b><%=$new.author%></b></div> 
                    </div>
                    <h1><%= $new.title%></h1>
                    <p><%=$new.body%></p><br/>
                    <sub>Article written on: <%=$new.date%></sub>
                </div>
                <%}else{%>
                    <div class="tag">
                        <p class="error">No Internet!</p>
                    </div>
            <%}%>
           

           
        </div>
        <%- include('./partials/float.ejs')%>
        <%- include('./partials/footer.ejs')%>
        <!-- script -->
        <script>
            //error message
            setTimeout(()=>{
                document.querySelector('.tag').style.display="none"
            },3000)
        </script>
    </body>
    </html>