
<html lang="en">
    <%- include('./partials/headBlog.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div class='preload'></div>
        <div class="notify"></div>
        <div id="about"></div>
        <div class="detail start">
            <%if($new){%>
                <a href='<%= $new.image%>'><img src='<%=$new.image%>' data-image="<%=$new.image%>" class="blog-image" alt="blog image"/></a>
                <div class="content">
                    <div class="author">Author: 
                        <%if($new.authorImage){%>
                            <div class="info"><a href='<%= $new.authorImage%>'><img src='<%=$new.authorImage%>' alt='.'/></a> <b><%=$new.author%></b></div> 
                        <%}else{%>
                            <div class="info"><a href='/assests/avatar.svg'><img src='/assests/avatar.svg' alt='.'/></a> <b><%=$new.author%></b></div> 
                        <%}%>
                    </div>
                    <h1><%= $new.title%></h1>
                    <p class="body" data-doc="<%=$new.body%>"></p><br/>
                    <sub>Article written on: <%=$new.date%></sub>

                    <div class="delete-blog" data-id="<%=$new._id%>"></div>
                </div>
                <%}else{%>
                   <div class="notify">
                        <div class="tag">
                            <p class="error">No Internet!</p>
                        </div>
                   </div>
            <%}%>
           

           
        </div>
        <%- include('./partials/float.ejs')%>
        <%- include('./partials/footer.ejs')%>
        <!-- script -->
        <script type="module">
            import{projectStorage,ref,getDownloadURL,uploadBytesResumable, deleteObject} from '/js/FirebaseConfig.js'
            //notify
            const notify=document.querySelector('.notify')

            //preloader
            const preloader=()=>{
                const loader=document.querySelector('.preload');
                loader.style.display='block';
            }
            const preloaderOff=()=>{
                const loader=document.querySelector('.preload');
                loader.style.display='none';
            }
            preloader()
            

            //body
            const body=document.querySelector('.body')
            const bodyContent=`${body.dataset.doc}`;
            body.innerHTML=`${bodyContent}`;
            if(bodyContent){
                preloaderOff()
            }

            //delete blog
            const deleteBtn=document.querySelector('.delete-blog');
            const blogId=deleteBtn.dataset.id;
            const blogImageHolder=document.querySelector('.blog-image');
            const blogImage=blogImageHolder.dataset.image;

            //delete firebase blog image
            function deleteFirebaseBlogImage(){
                // preloader()
                // Create a reference to the file to delete
                const desertRef = ref(projectStorage, blogImage);
                // Delete the file
                deleteObject(desertRef).then(() => {
                // File deleted successfully
                //now deletes the blog from db
                deleteBlogOnDb()
                }).catch((error) => {
                    // Uh-oh, an error occurred!
                    deleteBlogOnDb()
                    notify.innerHTML=`
                    <div class='tag'>
                        <p class="error">${error.message}</p>
                    </div>
                    `
                    setTimeout(()=>{
                        notify.innerHTML=''
                    },5000)
                });
            }

            //show delete button if admin token is present
            if(localStorage.getItem('admin-token')){
                deleteBtn.innerHTML=`
                    <button id='del' style="margin:50px 0 0 0; padding:10px 20px; color:white; background:red; border:none; border-radius:10px; cursor:pointer;">Delete Blog</button>
                `
                deleteBlog()
            }
             function deleteBlog(){
                const delBtn=document.getElementById('del')
                delBtn.addEventListener('click',()=>{
                    const deletePrompt=window.confirm('You are about to delete this blog, should i proceed?')
                    if(deletePrompt){
                        deleteFirebaseBlogImage()
                    }
                })
            }
            async function deleteBlogOnDb(){
                try {
                            const url=`/api/blogs/blog/${blogId}`
                            const response=await fetch(url,{
                                method:'DELETE',
                                headers:{
                                    'authorization':`Bearer ${localStorage.getItem('admin-token')}`
                                }
                            })
                            const parseRes=await response.json()
                            preloaderOff()
                            if(parseRes.error){
                                notify.innerHTML=`
                                <div class='tag'>
                                    <p class="error">${parseRes.error}</p>
                                </div>
                                `
                                setTimeout(()=>{
                                    notify.innerHTML=''
                                },5000) 
                            }else{
                                notify.innerHTML=`
                                <div class='tag-success'>
                                    <p class="error">${parseRes.msg}</p>
                                </div>
                                `
                                setTimeout(()=>{
                                    notify.innerHTML=''
                                    window.location.href='/'
                                },5000) 
                            }
                        } catch (error) {
                            preloaderOff()
                            notify.innerHTML=`
                            <div class='tag'>
                                <p class="error">No Internet!</p>
                            </div>
                            `
                            setTimeout(()=>{
                                notify.innerHTML=''
                            },5000) 
                        }   
            }
            // redirect
            // if(!localStorage.getItem('token')){
            //     window.location.href='/'
            // }
        </script>
    </body>
    </html>