
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div class='preload'></div>
        <div id="about"></div>
        <div class="detail start">
            <%if($new){%>
                <a href='<%= $new.image%>'><img src='<%=$new.image%>' alt="blog image"/></a>
                <div class="content">
                    <div class="author">Author: 
                        <div class="info"><a href='<%= $new.authorImage%>'><img src='<%=$new.authorImage%>' alt='.'/></a> <b><%=$new.author%></b></div> 
                    </div>
                    <h1><%= $new.title%></h1>
                    <p class="body" data-doc="<%=$new.body%>"></p><br/>
                    <sub>Article written on: <%=$new.date%></sub>
                </div>
                <%}else{%>
                   <div class="notify">
                        <div class="tag">
                            <p class="error">No Internet!</p>
                        </div>
                   </div>
            <%}%>
           

           
        </div>
        <%- include('./partials/float.ejs')%>
        <%- include('./partials/footer.ejs')%>
        <!-- script -->
        <script>
            //preloader
            const preloader=()=>{
                const loader=document.querySelector('.preload');
                loader.style.display='block';
            }
            const preloaderOff=()=>{
                const loader=document.querySelector('.preload');
                loader.style.display='none';
            }
            preloader()
            

            //body
            const body=document.querySelector('.body')
            const bodyContent=`${body.dataset.doc}`;
            body.innerHTML=`${bodyContent}`;
            if(bodyContent){
                preloaderOff()
            }
            // redirect
            if(!localStorage.getItem('token')){
                window.location.href='/'
            }
        </script>
    </body>
    </html>