<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="dashboard" data-user="<%=user%>">
        <div style="display: flex; justify-content: center;">
            <div class="notify"></div>
        </div>

        <div class="get-verified-as-blogger-bg">
            <div class="get-verified-as-blogger-div">
                <div class="get-verified-as-blogger">
                    <p>Inorder to get approval of post blogs and articles on the site you need to contact an admin.</p>
                    <p>In your case, please contact <a style='color:green;' target="_blank"rel="noreferrer" href="https://api.whatsapp.com/send?phone=+*+254734720752*&text=%20*Hey,%20Would%20My%20Campus%20Blogs%20Account%20Verified*">0734720752</a> or <a style='color:green;' target="_blank"rel="noreferrer" href="https://chat.whatsapp.com/GyQ1aVOjILvDbtn95kwmVl" target="_blank" title="Whatsapp group" rel="noreferrer"><i class='fa fa-whatsapp'></i> Join our whatsapp group</a>.</p>
                </div>
            </div>
        </div>
        
        <div class="user-details">
            <h1>My Profile</h1>
            <div class="user-info">
                
            </div>
        </div>

        <div class="other" style="display: flex; flex-direction: column;">
            <h3>My Status</h3>
            <div class="status">

            </div>

            <h3 class="admin-see-users-header">All Registered Admin</h3><br/>
            <div class="admin-see-users admins">

            </div>

            <h3 class="admin-see-users-header">All Registered Bloggers</h3><br/>
            <div class="admin-see-users bloggers">

            </div>

            <h3 class="admin-see-users-header">All Registered Users</h3><br/>
            <div class="admin-see-users users">

            </div>

            <h3>My Account</h3>
           <div class="account">
                <input type="text" value="https://campus-blog.onrender.com" id="refferal-link" hidden/>
                <a href='#5' class="invite-friend btn-link" style="background:black;"><i class="fa fa-user"></i> Invite a friend</a> 
                <a href='/login' style="background: blueviolet;" class="switch-account btn-link"><i class="fa fa-close"></i> Switch to Other Account</a> 
                <a href='#9' style="background: orange;" class="get-verified-as-blogger-btn btn-link"><i class="fa fa-pencil"></i> Get verified as blogger</a> 
                <a href="#3" style="background: #eee;color: black;" class="log-out btn-link" title="Log out"><i class="fa fa-eye" style="color:red;"></i> Log out</a>
                <a href="#8" style="background: #eee;color: black;" class="delete-account btn-link" title="Delete My Account"><i class="fa fa-trash"></i> Delete My Account</a>
           </div>
        </div>
    </div>
    <!-- script -->
    <script type='module'>
        import{projectStorage,ref,getDownloadURL,uploadBytesResumable, deleteObject} from '/js/FirebaseConfig.js'

        if(!localStorage.getItem('admin-token')){
            if(!localStorage.getItem('token')){
                if(!localStorage.getItem('blogger-token')){
                    window.location.href='/'
                }
            }
        }
         
        if(!localStorage.getItem('email')){
            window.location.href='/'
        }

         const status=document.querySelector('.status');
         if(localStorage.getItem('admin-token')){
            status.innerHTML=`
                <p style='color:green;'>Role: You are an administrator.</p> 
                <p class="post-link" href='/create'>Post a new blog</p>
                <a style="text-decoration:underline; color:black;" href='/addAdmin'>Register a new official</a>
                `
            }if(localStorage.getItem('blogger-token')){
             status.innerHTML=`
                 <p style='color:green;'>Role: You are a blogger.</p> 
                 <p class="post-link" href='/create'>Post a new blog</p>
                 `
         }else if(localStorage.getItem('token')){
            status.innerHTML=`
                <p>This account is not verified to post blogs or articles on this site.</p> 
                <p>Account on read only.</p><br/>
                <sub>contact an admin to change your status.</sub>
                `
         }

         //post link
        if(localStorage.getItem('blogger-token')||localStorage.getItem('admin-token')){
            const postLink=document.querySelector('.post-link')
            postLink.addEventListener('click',()=>{
                window.location.href='/create'
            })
        }
        const notify=document.querySelector('.notify')

        if(`<%=user.university%>`==='undefined'){
            document.querySelector('.user-info').innerHTML=`
                <div class='items'>
                    <a href='/assests/avatar.svg'><img src='/assests/avatar.svg'/></a>
                    <div class='text'>
                        <h2><%= user.firstName%> <%=user.lastName%></h2>
                        <p><%=user.email%><p>  
                        <p style='color:red;'>*Please, State your University<p>  
                    </div> 
                </div>    
            `
        }else if(`<%=user.photo%>`){
            document.querySelector('.user-info').innerHTML=`
                <div class='items'>
                    <a href='<%=user.photo%>'><img src='<%=user.photo%>'/></a>
                    <div class='text'>
                        <h2><%=user.firstName%> <%=user.lastName%></h2>
                        <p><%=user.email%><p>  
                        <p><%=user.university%><p> <br/> 
                        <form>
                            <label>
                                <span class="update-pic" style="color:purple; cursor:pointer; text-decoration:underline;" title="Upload you profile photo">
                                    Update your profile picture
                                    <input class='file' style="display:none;" accept="image/*" type="file" name='pic' required/>
                                </span>
                            </label>
                        </form>
                    </div> 
                </div>    
                <a style='color:green;' href="https://chat.whatsapp.com/GyQ1aVOjILvDbtn95kwmVl" target="_blank" title="Whatsapp group" rel="noreferrer"><i class='fa fa-whatsapp'></i> Join Our Whatsapp Group</a>
            `
        }else{
            document.querySelector('.user-info').innerHTML=`
                <div class='items'>
                    <a href='/assests/avatar.svg'><img src='/assests/avatar.svg'/></a>
                    <div class='text'>
                        <h2><%=user.firstName%> <%=user.lastName%></h2>
                        <p><%=user.email%><p>  
                        <p><%=user.university%><p> <br/> 
                        <form>
                            <label>
                                <span style="color:purple; cursor:pointer; text-decoration:underline;" title="Upload you profile photo">
                                    Update your profile picture
                                    <input class='file update-pic' style="display:none;" accept="image/*" type="file" name='pic' required/>
                                </span>
                            </label>
                        </form>
                    </div> 
                </div>    
                <a style='color:green;' href="https://chat.whatsapp.com/GyQ1aVOjILvDbtn95kwmVl" target="_blank" title="Whatsapp group" rel="noreferrer"><i class='fa fa-whatsapp'></i> Join Our Whatsapp Group</a>
            `
        }

        //delete user image firebase
        const updatePic=document.querySelector('.update-pic')
        updatePic.addEventListener('click',()=>{
           if(`<%=user.photo%>`){
            const deletePrompt=window.confirm('You are about to change your profile picture, should i proceed?')
            if(deletePrompt){
                // Create a reference to the file to delete
                const desertRef = ref(projectStorage, `<%=user.photo%>`);

                // Delete the file
                deleteObject(desertRef).then(() => {
                // File deleted successfully
                //now uploading the new updated user photo to firebase
                uploadUpdatedPic()
                }).catch((error) => {
                    uploadUpdatedPic()
                    // Uh-oh, an error occurred!
                    notify.innerHTML=`
                    <div class='tag'>
                        <p class="error">${error.message}</p>
                    </div>
                    `
                    setTimeout(()=>{
                        notify.innerHTML=''
                    },5000)
                });
            }
           }else{
            //uploading new photo
            uploadUpdatedPic()
           }
        })
        
            function uploadUpdatedPic(){
                //upload image
                const types=['image/png', 'image/jpeg']
                const photo=document.querySelector('.file');
                photo.addEventListener('change',(e)=>{
                    let photoName=e.target.files[0]
                    let validFile= photoName.name;
                    if(photoName && types.includes(photoName.type)){
                        //uploading image to storage
                        const storageRef=ref(projectStorage,photoName.name);
                        const uploadTask = uploadBytesResumable(storageRef, photoName);
                        uploadTask.on('state_changed',
                        async()=>{
                            const url=await getDownloadURL(storageRef)
                            const photoRes=await url
                            localStorage.setItem('user-photo',url)
                            notify.innerHTML=`
                            <div class='tag-success'>
                                <p class="error">Your pic got uploaded succefully</p>
                            </div>
                            `
                            setTimeout(()=>{
                                notify.innerHTML=''
                                window.location.reload()
                            },1000)
                            uploadToDb()
                        })
                    }else{
                        notify.innerHTML=`
                        <div class='tag'>
                            <p class="error">Please select an image file(png or jpeg)</p>
                        </div>
                        `
                        setTimeout(()=>{
                            notify.innerHTML=''
                        },5000)
                    }
                })
            }

                //post handler update 
                async function uploadToDb(){
                    try {
                            const url=`/api/user/updatePic/${localStorage.getItem('email')}`;
                            const response=await fetch(url,{
                                method:"PATCH",
                                headers:{
                                    "content-type":"application/json",
                                },
                                body:JSON.stringify({
                                    photo: localStorage.getItem('user-photo')
                                })
                            })
                            const parseRes=await response.json()
                            if(parseRes.error){
                                notify.innerHTML=`
                                <div class='tag'>
                                    <p class='error'>${parseRes.error}</p>
                                </div>
                                `
                                setTimeout(()=>{
                                    notify.innerHTML=''
                                },3000)
                            }else{
                                notify.innerHTML=`
                                <div class='tag-success'>
                                    <p class='error'>${parseRes.msg}</p>
                                </div>
                                `
                                setTimeout(()=>{
                                    notify.innerHTML=''
                                },3000)
                            }
                            localStorage.removeItem('user-photo')
                        } catch (error) {
                        notify.innerHTML=`
                        <div class='tag'>
                            <p class='error'>No internet!</p>
                        </div>
                            `
                        setTimeout(()=>{
                            notify.innerHTML=''
                        },3000)
                    }
                }

        //log out
        const logOutBtn=document.querySelectorAll('.log-out')
        logOutBtn.forEach(i=>{
            if(!localStorage.getItem('token')&&!localStorage.getItem('admin-token')&&!localStorage.getItem('blogger-token')){
                i.style.display='none'
            }
            i.addEventListener('click',()=>{
                const confirm=window.confirm('You are about to log out!')
                if(confirm){
                    window.location.href='/'
                    localStorage.removeItem('email')
                    localStorage.removeItem('user-id')
                    localStorage.removeItem('token')
                    localStorage.removeItem('blogger-token')
                    localStorage.removeItem('admin-token')
                }
            })
        })

        //switch account 
        const switchAccount=document.querySelector('.switch-account')
        switchAccount.addEventListener('click',()=>{
            localStorage.removeItem('email')
            localStorage.removeItem('token')
            localStorage.removeItem('user-id')
            localStorage.removeItem('blogger-token')
            localStorage.removeItem('admin-token')
        })
        
        //delete account
        const deleteAccount=document.querySelector('.delete-account');
        deleteAccount.addEventListener('click',async()=>{
            try {
                const confirm=window.confirm('You are about to delete your account!')
                if(confirm){
                    if(userDetail.photo){
                        // Create a reference to the file to delete
                        const desertRef = ref(projectStorage, userDetail.photo);
                        // Delete the file
                        deleteObject(desertRef).then(() => {
                        // File deleted successfully
                        //now deletes user on db
                        deleteAccountOnDb()
                        }).catch((error) => {
                            // Uh-oh, an error occurred!
                            notify.innerHTML=`
                            <div class='tag'>
                                <p class="error">${error.message}</p>
                            </div>
                            `
                            setTimeout(()=>{
                                notify.innerHTML=''
                            },5000)
                        });
                    }else{
                        //now deletes user on db
                        deleteAccountOnDb()
                    }
                    
                    async function deleteAccountOnDb(){
                        //delete user detail on db
                        const url=`/api/${localStorage.getItem('email')}`
                        const response=await fetch(url,{
                            method:"DELETE",
                        })
                        const parseRes=await response.json()
                        if(parseRes.error){
                            notify.innerHTML=`
                            <div class="tag">
                                <p class="error">${parseRes.error}</p>
                            </div>
                            `
                            setTimeout(()=>{
                                notify.innerHTML=''
                            },3000)
                        }else{
                            notify.innerHTML=`
                            <div class="tag-success">
                                <p class="error">${parseRes.msg}</p>
                            </div>
                            `
                            console.log(parseRes)
                            setTimeout(()=>{
                                notify.innerHTML=''
                                window.location.href='/'
                                localStorage.removeItem('user-id')
                                localStorage.removeItem('email')
                                localStorage.removeItem('token')
                                localStorage.removeItem('admin-token')
                                localStorage.removeItem('blogger-token')
                            },2000)
                        }
                    }
                }
            } catch (error) {
                notify.innerHTML=`
                    <div class="tag">
                        <p class="error">No internet!</p>
                    </div>
                    `
                    setTimeout(()=>{
                    notify.innerHTML=''
                },3000)
            }
        })

        //set ui
        const link=document.querySelectorAll('.link')
        link.forEach(i=>{
            const ui=i.dataset.class;
            if(ui==='out'&&localStorage.getItem('token')){
                const out=document.querySelectorAll('.out')
                out.forEach(i=>{
                    i.style.display='none'
                })
            }else{
                const out=document.querySelectorAll('.out')
                out.forEach(i=>{
                    i.style.display='block'
                })
            }
        })

        // invite friend by copy and sharing the blog link
        const inviteBtn=document.querySelector('.invite-friend')
        const refferallLink=document.getElementById('refferal-link')
        inviteBtn.addEventListener('click',()=>{
            // Select the text field
            refferallLink.select();
            refferallLink.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(refferallLink.value);

            // Alert the copied text
            notify.innerHTML=`
            <div class="tag-success">
                <p class="error">Invite link copied!</p>
            </div>
            `
            setTimeout(()=>{
                notify.innerHTML=''
            },3000)
        })

        //get-verified-as-blogger-bg
        const getVerifiedAsBloggerBtn=document.querySelector('.get-verified-as-blogger-btn');
        const getVerifiedAsBloggerBg=document.querySelector('.get-verified-as-blogger-bg')
        getVerifiedAsBloggerBtn.addEventListener('click',()=>{
            getVerifiedAsBloggerBg.style.display='block'
        })
        getVerifiedAsBloggerBg.addEventListener('click',()=>{
            getVerifiedAsBloggerBg.style.display='none'
        })


        //get all registered users as an admin
        const seeAdmins=document.querySelector('.admins')
        const seeBloggers=document.querySelector('.bloggers')
        const seeUsers=document.querySelector('.users')
        async function getUsers() {
            try {
                const url=`/api/get-users`
                const response=await fetch(url,{
                    method:"GET",
                    headers:{
                        authorization:`Bearer ${localStorage.getItem('admin-token')}`
                    }
                })
                const parseRes=await response.json()
                if(parseRes.error){
                    notify.innerHTML=`
                    <div class="tag">
                        <p class="error">${parseRes.error}</p>
                    </div>
                    `
                    setTimeout(()=>{
                        notify.innerHTML=''
                    },3000)
                }else{
                    console.log(parseRes)
                    //all admins
                    let admin=''
                    parseRes.admins.map(i=>{
                    admin=`
                        <div>
                            <p>Name: ${i.firstName} ${i.lastName}</p>
                            <p>Email: <a style="text-decoration:underline;color:purple;" href="mailto:${i.email}">${i.email}</a></p>
                        </div>
                    `
                    seeAdmins.innerHTML+=admin
                    })

                    //all bloggers
                    let bloggers=''
                    parseRes.bloggers.map(i=>{
                    bloggers=`
                        <div>
                            <p>Name: ${i.firstName} ${i.lastName}</p>
                            <p>Email: <a style="text-decoration:underline;color:purple;" href="mailto:${i.email}">${i.email}</a></p>
                        </div>
                    `
                    seeBloggers.innerHTML+=bloggers
                    })
                    
                    //all registered user
                    let li=''
                    parseRes.users.forEach((i,n)=>{
                    li=`
                        <div>
                            <p>Name: ${i.firstName} ${i.lastName}</p>
                            <p>Email: <a style="text-decoration:underline;color:purple;" href="mailto:${i.email}">${i.email}</a></p>
                            <p>University: ${i.university}</p>
                        </div>
                    `
                    seeUsers.innerHTML+=li
                    })
                    
                }
            } catch (error) {
            notify.innerHTML=`
            <div class="tag">
                <p class="error">${error.message}</p>
            </div>
            `
            setTimeout(()=>{
                notify.innerHTML=''
            },3000)
            }
        }
        if(localStorage.getItem('admin-token')){
            getUsers()
        }else{
            seeUsers.style.display="none"
            document.querySelector('.admin-see-users-header').style.display="none"
        }
    </script>
</body>
</html>