<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div id="about"></div>
    <div class="index start">
        <header>
         <h1 class="title"></h1>
         <p class="sub-title">Recommended based your interests</p>
        </header>

        <div class="blog-tag">
            <%if(news.length>0){%>
                <%news.forEach(item=>{%>
                    <div class="blog-item">
                        <div class="blog-title">
                            <a href='<%=item.image%>'><img src='<%=item.image%>' alt="blog image"/></a>
                            <p><%=item.title%></p>
                        </div>
                        <div class="snippet">
                            <p><%=item.body%></p>
                            <a href="/blogs/<%=item.id%>">Find out more</a>
                        </div>    
                    </div>
        
                <%})%>
            <%}else{%>
                <div class="tag">
                    <p class="error">No internet!</p>
                </div>
            <%}%>
        </div>
     </div>
    <%- include('./partials/float.ejs')%>
    <%- include('./partials/footer.ejs')%>

    <!-- script -->
    <script>
        //title
        document.querySelector('.title').innerText='For you';

        //error tag
        setTimeout(()=>{
           document.querySelector('.tag').style.display='none'
       },3000)
    </script>
</body>
</html>