<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div id="about"></div>
    <div class="index start">
        <header>
         <h1 class="title"></h1>
         <p class="sub-title">Recommended based your interests</p>
        </header>

        <div class="blog-tag">
            <%if(news.length>0){%>
                <%news.forEach(item=>{%>
                    <div class="blog-item" data-link="/blogs/<%=item.id%>">
                        <div class="blog-title">
                            <a href='<%=item.image%>'><img src='<%=item.image%>' alt="blog image"/></a>
                            <p><%=item.title%></p>
                        </div>
                        <div class="snippet">
                            <p data-body="<%=item.body.slice(0,260)%>" class="body"></p>
                            <a href="/blogs/<%=item.id%>">Find out more</a>
                            <sub>Written on: <%=item.date%></sub>
                        </div>    
                    </div>
        
                <%})%>
            <%}else{%>
                <div class="tag">
                    <p class="error">No internet!</p>
                </div>
            <%}%>
        </div>
     </div>
    <%- include('./partials/float.ejs')%>
    <%- include('./partials/footer.ejs')%>

    <!-- script -->
    <script>
        //title
        document.querySelector('.title').innerText='For you';

        //error tag
        setTimeout(()=>{
           document.querySelector('.tag').style.display='none'
       },3000)

       //body
        const body=document.querySelectorAll('.body')
        for(let i=0; i<body.length;i++){
            const bodyContent=`${body[i].dataset.body}`;
            body[i].innerHTML=`${bodyContent}...`;
        }

        //goes to blog details
        const blogItem=document.querySelectorAll('.blog-item')
        blogItem.forEach(i=>{
            const blogLink=i.dataset.link
            i.addEventListener('click',()=>{
            window.location.href=`${blogLink}`
        })
        })
    </script>
</body>
</html>